*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.App{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
  gap: 2rem;

}
.form{
  width: 300px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-direction: column;
  gap: 1rem;
}
.form input,.body{
  width: 90%;
  height: 30px;
  border-radius: .3rem;
  padding: 0 10px  ;
  border: none;
  outline: none;
  border: 1px solid blue;
}
.form .body{
  height: 50px;
  resize: none;
  padding: 10px;
}
.form button:not(.popup-btn){
  padding: 8px 30px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  border-radius: .2rem;
  cursor: pointer;
}
.popup-btn{
  background-color: black;
  color: white;
  padding: 8px 30px;
  border: none;
  outline: none;
  border-radius: .2rem;
  cursor: pointer;
}
